<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-focus" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">

    <title>OneUI - Admin Dashboard Template &amp; UI Framework</title>

    <meta name="description" content="OneUI - Admin Dashboard Template &amp; UI Framework created by pixelcave and published on Themeforest">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="assets/img/favicons/favicon.png">

    <link rel="icon" type="image/png" href="assets/img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="assets/img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="assets/img/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="assets/img/favicons/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="assets/img/favicons/favicon-192x192.png" sizes="192x192">

    <link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon-180x180.png">
    <!-- END Icons -->

    <!-- Stylesheets -->
    <!-- Web fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">

    <!-- Page JS Plugins CSS -->
    <link rel="stylesheet" href="assets/js/plugins/magnific-popup/magnific-popup.min.css">

    <!-- Bootstrap and OneUI CSS framework -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" id="css-main" href="assets/css/oneui.css">

    <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
    <!-- <link rel="stylesheet" id="css-theme" href="assets/css/themes/flat.min.css"> -->
    <!-- END Stylesheets -->
</head>

<body>
    <!-- Page Container -->
    <!--
            Available Classes:

            'enable-cookies'             Remembers active color theme between pages (when set through color theme list)

            'sidebar-l'                  Left Sidebar and right Side Overlay
            'sidebar-r'                  Right Sidebar and left Side Overlay
            'sidebar-mini'               Mini hoverable Sidebar (> 991px)
            'sidebar-o'                  Visible Sidebar by default (> 991px)
            'sidebar-o-xs'               Visible Sidebar by default (< 992px)

            'side-overlay-hover'         Hoverable Side Overlay (> 991px)
            'side-overlay-o'             Visible Side Overlay by default (> 991px)

            'side-scroll'                Enables custom scrolling on Sidebar and Side Overlay instead of native scrolling (> 991px)

            'header-navbar-fixed'        Enables fixed header
            'header-navbar-transparent'  Enables a transparent header (if also fixed, it will get a solid dark background color on scrolling)
        -->
    <div id="page-container" class="sidebar-l sidebar-mini sidebar-o side-scroll header-navbar-fixed header-navbar-transparent">
        <!-- Sidebar -->
        <% include components/sidebar.inc.ejs %>
        <!-- END Sidebar -->

        <!-- Header -->
        <% include components/header-navbar.inc.ejs %>
        <!-- END Header -->

        <!-- Main Container -->
        <main id="main-container">
            <!-- Hero Content -->
            <div class="bg-image" style="background-image: url('assets/img/photos/photo23@2x.jpg');">
                <div class="bg-primary-op">
                    <section class="content content-full content-boxed overflow-hidden">
                        <!-- Section Content -->
                        <div class="push-150-t push-150 text-center">
                            <h1 class="text-white push-10 visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">
                                <%= data[0].title %>
                            </h1>
                            <h2 class="h5 text-white-op visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">
                                <%= data[0].description %>
                            </h2>
                        </div>
                        <!-- END Section Content -->
                    </section>
                </div>
            </div>
            <!-- END Hero Content -->

            <!-- Story Content -->
            <div class="bg-white">
                <section class="content content-boxed">
                    <!-- Section Content -->
                    <div class="text-center">
                            作者：
                        <a class="link-effect font-s13 font-w600" href="javascript:void(0)">
                            <%= data[0].author %>
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        发布时间：<%= data[0].post_time %>
                        &nbsp;&nbsp; &bull;&nbsp;&nbsp;
                        发布与：<em>5 min</em>
                    </div>
                    <div class="row push-50-t push-50 nice-copy-story">
                        <div class="col-sm-8 col-sm-offset-2">
                            <p>
                                <%- data[0].content %>
                            </p>

                            <!-- Gallery (.js-gallery class is initialized in App() -> uiHelperMagnific()) -->
                            <!-- For more info and examples you can check out http://dimsemenov.com/plugins/magnific-popup/ -->
                            <div class="content-grid">
                                <div class="row js-gallery">
                                    <div class="col-xs-12 animated fadeIn">
                                        <a class="img-link" href="upload/<%= data[0].pic_src %>">
                                            <img class="img-responsive" src="upload/<%= data[0].pic_src %>" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- END Gallery -->





                            <!-- Actions -->
                            <div class="push-50-t clearfix">
                                <div class="btn-toolbar pull-right">
                                    <a class="btn btn-default" data-toggle="tooltip" title="Like Story" href="/article?act=">
                                        <i class="fa fa-thumbs-o-up">
                                            <%= data[0].n_view %>
                                        </i>
                                    </a>
                                    <div class="btn-group dropup">
                                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
                                            <i class="fa fa-share-alt"></i> Share</a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a tabindex="-1" href="javascript:void(0)">
                                                    <i class="fa fa-fw fa-facebook pull-right"></i> Facebook</a>
                                            </li>
                                            <li>
                                                <a tabindex="-1" href="javascript:void(0)">
                                                    <i class="fa fa-fw fa-twitter pull-right"></i> Twitter</a>
                                            </li>
                                            <li>
                                                <a tabindex="-1" href="javascript:void(0)">
                                                    <i class="fa fa-fw fa-google-plus pull-right"></i> Google+</a>
                                            </li>
                                            <li>
                                                <a tabindex="-1" href="javascript:void(0)">
                                                    <i class="fa fa-fw fa-linkedin pull-right"></i> LinkedIn</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <a class="btn btn-success" href="javascript:void(0)">
                                    <i class="fa fa-heart push-5-r"></i> Recommend</a>
                            </div>
                            <!-- END Actions -->

                        </div>
                    </div>
                    <!-- END Section Content -->
                </section>
            </div>
            <!-- END Story Content -->

            <!-- More Stories -->
            <section class="content content-boxed">
                <!-- Section Content -->
                <div class="row push-30-t push-30">
                    <div class="col-sm-4">
                        <a class="block block-link-hover2" href="javascript:void(0)">
                            <div class="block-content bg-image" style="background-image: url('assets/img/photos/photo2.jpg');">
                                <h4 class="text-white push-50-t push">10 Productivity Tips</h4>
                            </div>
                            <div class="block-content block-content-full font-s12">
                                <em class="pull-right">12 min</em>
                                <span class="text-primary">Sara Holland</span> on July 2, 2015
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a class="block block-link-hover2" href="javascript:void(0)">
                            <div class="block-content bg-image" style="background-image: url('assets/img/photos/photo10.jpg');">
                                <h4 class="text-white push-50-t push">Travel &amp; Work</h4>
                            </div>
                            <div class="block-content block-content-full font-s12">
                                <em class="pull-right">15 min</em>
                                <span class="text-primary">Tiffany Kim</span> on July 6, 2015
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a class="block block-link-hover2" href="javascript:void(0)">
                            <div class="block-content bg-image" style="background-image: url('assets/img/photos/photo3.jpg');">
                                <h4 class="text-white push-50-t push">New Image Gallery</h4>
                            </div>
                            <div class="block-content block-content-full font-s13">
                                <em class="pull-right">10 min</em>
                                <span class="text-primary">Craig Stone</span> on June 29, 2015
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a class="block block-link-hover2" href="javascript:void(0)">
                            <div class="block-content bg-image" style="background-image: url('assets/img/photos/photo23.jpg');">
                                <h4 class="text-white push-50-t push">Explore the World</h4>
                            </div>
                            <div class="block-content block-content-full font-s12">
                                <em class="pull-right">13 min</em>
                                <span class="text-primary">Jack Greene</span> on June 16, 2015
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a class="block block-link-hover2" href="javascript:void(0)">
                            <div class="block-content bg-image" style="background-image: url('assets/img/photos/photo22.jpg');">
                                <h4 class="text-white push-50-t push">Follow Your Dreams</h4>
                            </div>
                            <div class="block-content block-content-full font-s12">
                                <em class="pull-right">10 min</em>
                                <span class="text-primary">Amanda Powell</span> on May 23, 2015
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a class="block block-link-hover2" href="javascript:void(0)">
                            <div class="block-content bg-image" style="background-image: url('assets/img/photos/photo24.jpg');">
                                <h4 class="text-white push-50-t push">Top 10 Destinations</h4>
                            </div>
                            <div class="block-content block-content-full font-s12">
                                <em class="pull-right">7 min</em>
                                <span class="text-primary">Ronald George</span> on May 15, 2015
                            </div>
                        </a>
                    </div>
                </div>
                <!-- END Section Content -->
            </section>
            <!-- END More Stories -->
        </main>
        <!-- END Main Container -->

        <!-- Footer -->
        <footer id="page-footer" class="bg-white">
            <div class="content content-boxed">
                <!-- Footer Navigation -->
                <div class="row push-30-t items-push-2x">
                    <div class="col-sm-4">
                        <h3 class="h5 font-w600 text-uppercase push-20">Company</h3>
                        <ul class="list list-simple-mini font-s13">
                            <li>
                                <a class="font-w600" href="frontend_home.html">Home</a>
                            </li>
                            <li>
                                <a class="font-w600" href="frontend_features.html">Features</a>
                            </li>
                            <li>
                                <a class="font-w600" href="frontend_pricing.html">Pricing</a>
                            </li>
                            <li>
                                <a class="font-w600" href="frontend_about.html">About Us</a>
                            </li>
                            <li>
                                <a class="font-w600" href="frontend_contact.html">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h3 class="h5 font-w600 text-uppercase push-20">Support</h3>
                        <ul class="list list-simple-mini font-s13">
                            <li>
                                <a class="font-w600" href="frontend_login.html">Log In</a>
                            </li>
                            <li>
                                <a class="font-w600" href="frontend_signup.html">Sign Up</a>
                            </li>
                            <li>
                                <a class="font-w600" href="frontend_support.html">Support Center</a>
                            </li>
                            <li>
                                <a class="font-w600" href="javascript:void(0)">Privacy Policy</a>
                            </li>
                            <li>
                                <a class="font-w600" href="javascript:void(0)">Terms &amp; Conditions</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h3 class="h5 font-w600 text-uppercase push-20">Get In Touch</h3>
                        <div class="font-s13 push">
                            <strong>Company, Inc.</strong>
                            <br> 980 Folsom Ave, Suite 1230
                            <br> San Francisco, CA 94107
                            <br>
                            <abbr title="Phone">P:</abbr> (123) 456-7890
                        </div>
                        <div class="font-s13">
                            <i class="si si-envelope-open"></i> company@example.com
                        </div>
                    </div>
                </div>
                <!-- END Footer Navigation -->

                <!-- Copyright Info -->
                <div class="font-s12 push-20 clearfix">
                    <hr class="remove-margin-t">
                    <div class="pull-right">
                        Crafted with
                        <i class="fa fa-heart text-city"></i> by
                        <a class="font-w600" href="http://goo.gl/vNS3I" target="_blank">pixelcave</a>
                    </div>
                    <div class="pull-left">
                        <a class="font-w600" href="http://goo.gl/6LF10W" target="_blank">OneUI 3.2</a> &copy;
                        <span class="js-year-copy"></span>
                    </div>
                </div>
                <!-- END Copyright Info -->
            </div>
        </footer>
        <!-- END Footer -->
    </div>
    <!-- END Page Container -->

    <!-- OneUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock, Appear, CountTo, Placeholder, Cookie and App.js -->
    <script src="assets/js/core/jquery.min.js"></script>
    <script src="assets/js/core/bootstrap.min.js"></script>
    <script src="assets/js/core/jquery.slimscroll.min.js"></script>
    <script src="assets/js/core/jquery.scrollLock.min.js"></script>
    <script src="assets/js/core/jquery.appear.min.js"></script>
    <script src="assets/js/core/jquery.countTo.min.js"></script>
    <script src="assets/js/core/jquery.placeholder.min.js"></script>
    <script src="assets/js/core/js.cookie.min.js"></script>
    <script src="assets/js/app.js"></script>

    <!-- Page JS Plugins -->
    <script src="assets/js/plugins/magnific-popup/magnific-popup.min.js"></script>

    <!-- Page JS Code -->
    <script>
        jQuery(function () {
            // Init page helpers (Appear + Magnific Popup plugins)
            App.initHelpers(['appear', 'magnific-popup']);
        });
    </script>
</body>

</html>